fastapi
uvicorn[standard]
python-dotenv
autogen==0.9.7
python-jose[cryptography]
google-auth-oauthlib
google-cloud-firestore
stripe
httpx
pyparsing
google-api-python-client
anthropic
mistralai
openai==1.98.0
