fastapi
uvicorn[standard]
python-dotenv
pyautogen
python-jose[cryptography]
google-cloud-firestore
google-auth-oauthlib
stripe
httpx
pyparsing
google-cloud-aiplatform
google-api-python-client
anthropic
mistralai
